@model IEnumerable<Turntabl.RoleService.Models.Employee>
@*
    Note: I've set the model for this view to IEnumerable<Employee>.
        This is a simple interface implemented by the list class. Since
        in this view we only want to iterate over this list, and we don't
        need any of the operations in the List class (eg Add, Remove, etc),
        it's better to use the IEnumerable interface, which allows use to
        iterate over the list. If in the future, we replace the List with a
        different data structure, as long as it is enumerable, our view code
        will remain unchanged.
*@

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>
<br />

<p>
    @Html.ActionLink("New  Employee", "New", "Employees", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>We don't have any employees yet.</p>
}
else
{
    <table class="table  table-hover">
        <thead>
            <tr>
                <th>Employees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
            <tr>
                @*<td>@Html.ActionLink(employee.Name, "Edit", "Employees", new { id = employee.Id }, null)</td>*@
                <td>@employee.Name </td>
                <td> @Html.ActionLink("View", "Details", "Employees", new { id = employee.Id }, null) </td>
                <td>
                    <a href="@Url.Action("Edit", "Employees", new {id = employee.Id})" title="Edit"> <img alt="Edit" src="@Url.Content("https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png")" width="15" style="horiz-align:left "> </a>
                    <https: //cloud.githubusercontent.com/assets/17072343/25988928/01416c5a-36c8-11e7-9b16-efa305d42166.PNG>
                </td>
            </tr>
            }
        </tbody>
    </table>

}